/*
* author: mamingyang@baofeng.com
* date: 2018/11/1
* usage: 全局颜色样式，含字体颜色和背景颜色。
*/

.cBlu {
  color: #409eff;
}

.cBla {
  color: #303133;
}

.cGra {
  color: #606266;
}

.cGre {
  color: #67c23a;
}

.cYel {
  color: #e6a23c;
}

.cRed {
  color: #f56c6c;
}

.bgcWhi {
  background-color: #ffffff;
}

.bgcGra {
  background-color: #f7f7f7;
}

.bgcGre {
  background-color: #67c23a;
}
