/*
* author: mamingyang@baofeng.com
* date: 2018/11/1
* usage: 全局字体样式。
*/

.fb {
  font-weight: bold;
}

.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz20 {
  font-size: 20px;
}

.fz30 {
  font-size: 30px;
}

.lh43 {
  line-height: 43px;
}

.lh70 {
  line-height: 70px;
}
