/*
* author: mamingyang@baofeng.com
* date: 2018/11/1
* usage: 定义长宽相关的公用样式
*/

// 长宽
.w300 {
  width: 300px;
}

.w400 {
  width: 400px;
}

.w500 {
  width: 500px;
}

.w600 {
  width: 600px;
}

// 长宽结束

// 最小长宽
.miw1200 {
  min-width: 1200px;
}

// 最小长宽结束

// 最大长宽

// 最大长宽结束
