/*
* author: mamingyang@baofeng.com
* date: 2018/11/1
* usage: 全局间距样式，各分组不要混写。顺序：从小到大，上下左右。
*/

// 填充
.p20 {
  padding: 20px;
}

// 填充结束

// 边框
.br2 {
  border-radius: 2px;
}

// 边框结束

// 间距
.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.mt3 {
  margin-top: 3px;
}

.mt20 {
  margin-top: 20px;
}

.mt42 {
  margin-top: 42px;
}

.mt50 {
  margin-top: 50px;
}

.mt65 {
  margin-top: 65px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr80 {
  margin-right: 80px;
}

// 间距结束
